.marquee {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.track {
  display: flex;
}

.ltr-marquee .track {
  animation: marquee-ltr 20s linear infinite;
}

.rtl-marquee .track {
  animation: marquee-rtl 20s linear infinite;
}

.text {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  white-space: nowrap;
  padding-inline: 1rem;
}

.text-measure {
  font-size: 3rem;
  font-weight: bold;
  padding-inline: 1rem;
}

@keyframes marquee-ltr {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-rtl {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}
